# Forçar identificação correta das linguagens
*.py linguist-language=Python

# Ignorar arquivos de build e empacotamento
build/* linguist-vendored
dist/* linguist-vendored
*.spec linguist-generated

# Ignorar arquivos de imagem como código
*.png linguist-generated
*.ico linguist-generated
*.svg linguist-generated

# Garantir que arquivos .tex não sejam considerados (caso existam por engano)
*.tex linguist-detectable=false

# Meu código também não tem tanto HTML
*.html linguist-detectable=false