html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: #dc3545;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.header p {
  font-size: 1.5rem;
}

.navbar {
  background-color: #000;
  font-family: 'Poppins', sans-serif;
  padding: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.3rem;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover {
  color: #dc3545;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.section-heading {
  color: #dc3545;
  text-align: center;
  margin-bottom: 50px;
}

.feature-item {
  text-align: center;
  padding: 30px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature-item:hover {
  transform: translateY(-5px);
}

.feature-icon {
  color: #dc3545;
  font-size: 2rem;
  margin-bottom: 10px;
}

.feature-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.text-muted {
  font-size: 1rem;
  color: #666;
}

#crowico {
  width: 90px;
}

@media (min-width: 768px) {
  .feature-item {
    height: 100%;
  }
}

footer {
  background-color: #000;
  color: white;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #6a0000;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background-color: #9c00005c;
}

#ico-ftr {
  width: 50px;
  margin-right: 10px;
}

#ico-ftr:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

#security {
  background-color: #000000;
  padding: 80px 0;
}

#security .section-heading {
  margin-bottom: 50px;
  color: #dc3545;
  text-align: start;
}

#security .row {
  margin-bottom: 30px;
}

#security .col-auto {
  text-align: start;
}

#security .col {
  align-self: start;
}

#security .text-muted {
  font-size: 1.2rem;
  text-align: start;
}

#danger {
  padding-top: 30px;
}

.button-wrapper {
  margin-top: 30px;
}

.button-wrapper .btn {
  position: relative;
  overflow: hidden;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.button-wrapper .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: top 0.3s ease;
  z-index: -1;
}

.button-wrapper .btn:hover::before {
  top: 0;
}

@keyframes redGradient {
  0% {
    color: #ff0000;
  }
  25% {
    color: #ff4d4d;
  }
  50% {
    color: #b30000;
  }
  75% {
    color: #ff1a1a;
  }
  100% {
    color: #ff0000;
  }
}

.animated-text {
  animation: redGradient 2s infinite;
}