/* Estilos personalizados */
html {
  scroll-behavior: smooth;
}

/* Estilo para o header */
.header {
  background-color: #dc3545; /* Vermelho */
  color: #fff; /* Branco */
  padding: 100px 0;
  text-align: center;
}

.header h1 {
  font-size: 3rem; /* Reduzimos o tamanho da fonte do título */
  margin-bottom: 20px;
}

.header p {
  font-size: 1.5rem;
}

/* Estilo para a navbar */
.navbar {
  background-color: #000; /* Preto */
}

.navbar .navbar-brand {
  color: #fff; /* Branco */
  font-size: 1.5rem;
}

.navbar .navbar-nav .nav-link {
  color: #fff; /* Branco */
}

.navbar .navbar-nav .nav-link:hover {
  color: #dc3545; /* Vermelho */
}

/* Estilo para seções */
.section-heading {
  color: #dc3545; /* Vermelho */
  text-align: center;
  margin-bottom: 50px;
}

/* Estilo para ícones e imagens */
.feature-item {
  text-align: center;
  padding: 30px;
  border-radius: 8px;
  background-color: #ffffff; /* Branco */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 30px;
  display: flex; /* Utilizamos flexbox para alinhar os itens verticalmente */
  flex-direction: column; /* Colocamos os itens em coluna */
  justify-content: space-between; /* Distribuímos o espaço entre os itens */
}

.feature-item:hover {
  transform: translateY(-5px);
}

.feature-icon {
  color: #dc3545; /* Vermelho */
  font-size: 2rem; /* Reduzimos o tamanho dos ícones */
  margin-bottom: 10px;
}

.feature-title {
  font-size: 1.25rem; /* Reduzimos o tamanho dos títulos */
  font-weight: bold;
  color: #333; /* Cinza escuro */
}

.text-muted {
  font-size: 1rem; /* Reduzimos o tamanho do texto */
  color: #666; /* Cinza */
}

#crowico {
  width: 90px; /* Reduzimos o tamanho da imagem do ícone */
}

@media (min-width: 768px) {
  .feature-item {
    height: 100%; /* Garantimos que todas as caixas tenham a mesma altura */
  }
}

footer {
  background-color: #000;
  color: white;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: #6a0000;
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  background-color: #9c00005c;
}
#ico-ftr {
  width: 50px;
  margin-right: 10px;
}
#ico-ftr:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* Estilos para a seção de avaliações */
#reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}

.review-box {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 100%; /* Altura fixa para manter as caixas do mesmo tamanho */
  transition: all 0.3s ease;
}

.review-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-title {
  font-size: 1.5rem;
  color: #dc3545; /* Vermelho */
  margin-bottom: 10px;
}

.star-rating {
  color: #ffc107; /* Amarelo */
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.review-text {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.review-date {
  font-size: 0.9rem;
  color: #666;
}

/* Estilo para estrelas */
.star-rating .fa-star {
  margin-right: 2px;
}

/* Estilo para a seção de Segurança */
#security {
  background-color: #f8f9fa; /* Cinza claro */
  padding: 80px 0;
}

#security .section-heading {
  margin-bottom: 50px;
  color: #dc3545; /* Vermelho */
  text-align: start;
}

#security .row {
  margin-bottom: 30px;
}

#security .col-auto {
  text-align: start;
}

#security .col {
  align-self: start;
}

#security .text-muted {
  font-size: 1.2rem;
  text-align: start;
}

#danger{
  padding-top: 30px;
}

#final {
  background-color: #f8f9fa; /* Cor de fundo */
  padding: 80px 0;
}

#final .section-heading {
  color: #dc3545; /* Cor do título */
}

#final .lead {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.button-wrapper {
  margin-top: 30px;
}

.button-wrapper .btn {
  position: relative;
  overflow: hidden;
  color: #fff;
  background-color: #dc3545; /* Cor do botão */
  border-color: #dc3545; /* Cor da borda */
}

.button-wrapper .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: top 0.3s ease;
  z-index: -1;
}

.button-wrapper .btn:hover::before {
  top: 0;
}
